.header {
    background-color: #53b1b1;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    flex-direction: row;
}

.menu {
    font-family: sans-serif;
    background-color: transparent;
    justify-content: flex-end;
}

.container {
    justify-content:flex-start;
    margin: 4px 8px 8px 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h1 {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    font-weight: 700;
    color: #11222c;
}

.btn {
    background-color: #f6c624;
    color: black;
    text-align: center;
}

