.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 30em;
    height: 40em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    padding: 0 10px 0 10px;
}

.h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

/* .form {
    margin: 25px 0 0 0;
   background-color: rgb(223, 183, 183);
} */