@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.h1 {
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
}

.button {
    max-width: 20em;
}
